audio{
	visibility: hidden;
}

a{
	font-size: 36px;
	color: #FF6347;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

@media (min-width: 992px){
	h1{
		display: none;
	}

	body{
		background-image: url(omfgdogs.gif);
		background-repeat: repeat;
	}
}